body 
{ 
	background: #e5ecf1;
	width:99%;
	padding:5px;
	margin: 5px auto;
}

#frames_left
{	
	width:250px;
	height:auto;
	float:left;
	margin-top:10px;
	display:inline;
}
	
#frames_center
{
	width:80%;
	height:auto;
	float:left;
	margin: 10px 0px 5px 10px;
	padding:0px;
	display:inline;
}
	
#frames_right
{
	width:190px;
	float:left;
	clear:right;
	margin:10px 0px 0px 10px;
	display:inline;
}

.menu_list .menu_body 
{
	display:block;
}

.menu_list .menu_head {
	cursor: pointer;
	padding: 3px 3px 3px 20px;
	margin:2px;
	background-color: rgb(255,151,0);
	display: block;
}

.menu_list .menu_body a
{
  display:block;
  color:#006699;
  background-color:ghostwhite!important;
  padding: 2px 0px 2px 10px;
  margin: 1px 3px 1px 3px;
  text-decoration:none;
}
.menu_list .menu_body a:hover
{
	background-color:#17a2b8!important;
}

.frame .frame_link a
{
	cursor: pointer;
	padding: 3px 3px 3px 20px;
	margin:3px;
	color:white;
	background-color: #FF9966 ;
	display: block;
}

.frame_body
{
	padding: 5px;
	background-color: #EFEFEF;
}

.frame_body p
{
	padding-left: 5px;
}

/** common **/

.frame
{
	border: 1px solid rgb(255,151,0);
	margin-bottom: 8px;
}


.frame a:hover 
{
	color:red;
	font-size:1.1em;

}

table tr td{
	padding: 5px;
}